{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="container py-1 text-center">
        <h1 class="display-5 fw-bold">Liste des projets</h1>
        {% if app.user.entrepreneur is defined and app.user.entrepreneur %}
            <div class="align-content-center align-items-center mt-3 mb-3">
                <a href="{{ path('app_projet_new') }}" class="flex align-content-center  btn btn-primary"
                   type="submit"><i
                            class="bi bi-plus"></i>Ajouter
                    un projet</a>
            </div>
        {% endif %}
        <div class="row justify-content-center mb-3">
            <form action="">
                <div class="input-group">
                    <input class="form-control border-end-0 border" type="search" placeholder="Search"
                           id="example-search-input">
                    <button class="btn btn-dark" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section style="background-color: #eee;">
    <div class="container py-5">
        {% for projet in projets %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div style="min-height: 150px" class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <a href="{{ path('app_projet_show', {id: projet.id}) }}">
                                        {% set image = '/uploads/projets/projet.jpg' %}
                                        {% if projet.image is not empty %}
                                            <img src="{{ asset('/uploads/projets/')~projet.image }}"
                                                 class="w-100"/>
                                        {% else %}
                                            <img src="{{ asset(image) }}"
                                                 class="w-100"/>
                                        {% endif %}
                                        <div class="hover-overlay">
                                            <div class="mask"
                                                 style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <a style="text-decoration: none;color: inherit;"
                                   href="{{ path('app_projet_show', {id: projet.id}) }}">
                                    <h5>{{ projet.titre }}</h5>
                                    {% if projet.type %}
                                        <div class="d-flex flex-row">
                                            <span class="badge bg-primary">{{ projet.type }}</span>
                                        </div>
                                    {% endif %}
                                    {% if false %}
                                    <div class="d-flex flex-row mt-1">
                                        <span>Contact : {{ projet.owner|capitalize }}</span>
                                    </div>
                                    {% endifg %}
                                    <div class="mt-1 mb-2 mb-0 text-muted small">
                                        {% for skill in projet.skills %}
                                            <span>{{ skill.tag }}</span>
                                            {% if loop.last == false %}
                                                <span class="text-primary"> • </span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    <p class=" mb-4 mb-md-0">
                                        {{ projet.description|striptags|u.truncate(300, '...') }}
                                    </p>
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">Equipe :</h4>
                                </div>
                                <div class="d-flex flex-column">
                                    <ul>
                                        {% for inscription in projet.inscriptions %}
                                            <li> {{ inscription.user|capitalize }} - {{ inscription.role }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <h6 class="text-success">Place(s) restante(s)
                                    : {{ 3 - projet.inscriptions.count }}</h6>
                                <div class="d-flex mt-4">
                                    {% if (app.user and projet.containUser(app.user) == false and app.user.isEtudiant) or app.user is empty %}
                                        <a href="#"
                                           class="btn btn-outline-success btn-sm mt-2 rejoindre-projet"
                                           style="position:absolute; bottom:15px; right: 15px"
                                           data-projet-id="{{ projet.id }}"
                                           type="button">Rejoindre
                                        </a>
                                    {% elseif(app.user and projet.containUser(app.user) == true and app.user.isEtudiant) %}
                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </symbol>
                                        </svg>
                                        <div class="alert text-success alert-success d-flex align-items-center"
                                             role="alert">
                                            <svg style='fill:green' class="bi text-success flex-shrink-0 me-2"
                                                 width="24"
                                                 height="24" role="img"
                                                 aria-label="Success:">
                                                <use xlink:href="#check-circle-fill"/>
                                            </svg>
                                            <div>
                                                Déjà dans le projet
                                            </div>
                                        </div>
                                    {% elseif app.user.entrepreneur is defined and app.user.entrepreneur and projet.owner == app.user %}
                                        <a style='position: absolute; bottom: 10px;right: 10px'
                                           href="{{ path('app_projet_edit',{id:projet.id}) }}"
                                           class="btn btn-sm btn-outline-warning">Editer</a>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<div class="modal" id="inscriptionModal" tabindex="-1" aria-labelledby="Inscription" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inscriptionModalLabel">Inscription au projet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <input type="hidden" id="projet_id">
                    <div class="alert alert-info">Au vue des compétences issues de votre profil vous <span
                                id="info-roles"></span></div>
                    <label for="role">Votre rôle dans le projet : </label>
                    <select name="role" name="role" id="role" class="form-select"
                            aria-label="Votre rôle dans le projet">
                        {% for label, value in roles %}
                            <option id="option-{{ value }}" value="{{ value }}" disabled>{{ label }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id="send-inscription" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function () {
            let inscriptionModal = new bootstrap.Modal(document.getElementById('inscriptionModal'), {
                keyboard: false
            })

            const buttons = document.querySelectorAll('.rejoindre-projet');
            const input_projet_id = document.getElementById('projet_id');
            const select_role = document.getElementById('role');


            document.getElementById('send-inscription').addEventListener('click', event => {
                window.location = "/projets/" + input_projet_id.value + "/addUser/" + select_role.value
            })

            Array.from(buttons).forEach(function (button) {
                button.addEventListener('click', async event => {
                    let roles = [];
                    event.preventDefault();
                    await fetch('/inscriptions/' + button.dataset.projetId + '/roles')
                        .then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            document.getElementById('option-Frontend').setAttribute('disabled', "")
                            document.getElementById('option-Backend').setAttribute('disabled', "")
                            document.getElementById('option-Fullstack').setAttribute('disabled', "")
                            for (let prop in data) {
                                document.getElementById('option-' + data[prop]).removeAttribute('disabled');
                                roles.push("<b>" + prop + '</b>');
                            }
                        });
                    if (roles.length === 0) {
                        document.getElementById('info-roles').innerHTML = "ne pouvez postuler à rien";
                    } else {
                        document.getElementById('info-roles').innerHTML = "pouvez postuler en tant que " + roles.join(' ou ');
                    }

                    input_projet_id.value = button.dataset.projetId;
                    inscriptionModal.show();
                });
            });
        };
    </script>
{% endblock %}