<header class="mb-auto">
    <nav class="navbar navbar-expand-lg  navbar-light" role="navigation">
        <a class="navbar-brand" href="#">TeamBrains</a>
        <div class="container">
            <a class="navbar-brand" href="../index.html"><img src="../assets/images/yoga/coach-yoga.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-default-second" aria-controls="navbar-default-second"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-default-second">
                <ul class="navbar-nav ms-auto me-lg-3 ">
                    <li class="nav-item">
                        <a href="{{ path('projets') }}" class="nav-link">Projets</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('cgu') }}" class="nav-link">CGU</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                    {% if app.user is not empty %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Mon compte
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item dropdown-item">
                                    {{ app.user }}

                                </li>
                                <hr class="dropdown-divider">
                                <li class="nav-item dropdown-item">
                                    <a href="{{ path('app_user_edit',{id: app.user.id}) }}" class="nav-link">Mes
                                        informations</a>
                                </li>
                                {% if app.user.entrepreneur %}
                                    <li class="nav-item dropdown-item">
                                        <a href="{{ path('app_projet_new') }}" class="nav-link">Ajouter un projet</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown-item">
                                    <a href="{{ path('mes_projets') }}" class="nav-link">Mes
                                        projets</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item dropdown-item">
                                        <a href="{{ path('admin') }}" class="nav-link">Admin</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="nav-item dropdown-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link">Déconnecter</a>
                                </li>
                            </ul>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path("app_login") }}" class="nav-link">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>